.topic_container{
    display: flex;
    flex-direction: row;
    padding: 5px 5px;
}
.topic_container:hover{
    background:lightgray;
}
.topic_container>p>span{
    font-size: 10px;
}
.topic_container_text{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}
.topic_container_text >h5{
    font-size: 15px;
    color: black;
}
.topic_container_text >small{
padding: 3px 0;
}
.dot{
    font-size: 5px; padding:0 5px;
}