.WedgeComponent_container{
    border-radius: 10px;
    background: white;
    border: 1px solid gray;
padding:10px 0;
    color: gray;
    margin-bottom: 20px;
}
.WedgeComponent_container_header>h4{
    font-size: 20px;
}
.WedgeComponent_container_header{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
   
}
