.feed{
    display: flex;
    flex-direction: column;
    flex: .6;
    margin: 10px;
}
.feed_input_container{
    background: white;
    height: fit-content !important;
    width: 100%;
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid rgb(207, 207, 207);
}
.feed_input_container_input{
    display: flex;
    align-items: center;
    border: 1px solid gray;
    width: 100% !important;
    border-radius: 30px;
    padding: 0 10px;
    
}
.feed_input_container_input >form >input{
    border: none;
    outline: none;
    padding:15px;
    font-size: 1.2rem;
}
.feed_input_container_input >form >button{
    display: none;
}
.feed_input_container_iconOption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding-top: 10px;
}