.post{
    background: white;
    border-radius: 10px;
    margin-top: 10px;
}
.post_header{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    color: gray;
}
.post_information{
    display: flex;
}
.post_information >img{
    height: 50px;
    min-width: 50px;
    object-fit:cover;
border-radius: 50%;
}
.post_information_text{
    padding-left: 10px;
    
}
.post_information_text >h5{
    color: black;
}
.public{
    display: flex;
    align-items: center;
}
.dot{
    font-size: .5rem;
}
.globle{
    font-size: 1rem;
  
}
 .post >p{

 padding: 5px 10px;
}
.post >img{
    width:100%;
    max-height: 300px ;
    object-fit:cover;
   }
   .post_bottom{
       display: flex;
       padding: 5px 5px;
       margin: 0 10px;
       border-top: 1px solid gray;
   }
